<div class="user-post-in-comment-feed">
    <span class="data-attr" data-user-id="<%= user.userId %>"></span>
    <a class="user-picture" style="background-image: url(<%= user.profilePicture %>);"></a>
    <div class="user-comment">
        <a class="postedBy"><%= user.name %></a>
        <p><%= user.commentText %></p>
    </div>
</div>