<div class="user-post-in-comment-feed">
    <a class="user-picture" style="background-image: url(<%= userComment.userImage %>);"></a>
    <div class="user-comment">
        <a class="postedBy"><%= userComment.userName %></a>
        <p><%= userComment.userPost %></p>
    </div>
</div>