* {
    font-family: 'Nunito Sans', sans-serif !important;
}

html {
    background-color: rgba(230, 230, 230, 0.6);
}

.site-navbar {
    width: 1225px;
    margin: 0 auto;
}

.navbar-logo {
    font-size: 40px;
    color: white;
    font-family: 'Marck Script', cursive !important;
    margin-bottom: 0;
    width: 24px;
    position: absolute;
    left: 50%
}

.site-header {
    height: 57px;
    background-color: #1779ba;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.navbar-links {
    height: 100%;
    list-style: none;
    float: left;
    margin: 0;
}

.navbar-links>li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 17px;
    height: 40px;
}

.navbar-links>li>a {
    color: white;
}

.navbar-links>li>a>span>.fa {
    margin-right: 10px;
}

.navbar-links>li:nth-child(4)>a>span>.fa {
    transform: rotate(20deg);
}

.navbar-links:first-child {
    margin-left: 0;
}

.navbar-links>li:hover {
    border-bottom: solid white 3px;
}

.site-content {
    padding-top: 70px;
    padding-left: 40px;
    background-color: rgba(230, 230, 230, 0.6);
}

.top-section-base {
    float: left;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.bottom-section-base {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 45px;
    float: left;
}

.profile-container {
    width: 1225px;
    margin: 0 auto;
}

.profile-header {
    height: 344px;
}

.profile-picture {
    height: 200px;
    width: 200px;
    border-radius: 110px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border: 5px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    margin-left: 31px;
    margin-top: -169px;
}

.tab-menu {
    height: 100%;
    margin-top: -31px;
    margin-left: auto;
    margin-right: auto;
    width: 631px;
}

.tab-menu > ul {
    list-style: none;
    margin-bottom: 0;
    height: 100%;
}

.tab-menu li {
    display: inline-block;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 0;
    height: 100%;
}

.tab-menu li:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 15px;
}

.tab-menu li a {
    text-align: center;
    font-weight: 700;
}

.tab-menu li a:hover {
    color: #083554;
}

.fa {
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input-search-field {
    height: 33px;
    width: 150px;
    float: right;
    margin-top: 12px !important;
    margin-right: 19px !important;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

.input-search-field:focus {
    transition: all 0.4s ease-in-out;
    border-color: #1779ba;
    width: 200px;
}

.settings-dropdown {
    float: right;
    border: solid white 2px;
    border-radius: 35px;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-top: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.dropdown-content>hr {
    margin: 0;
}

.dropdown-content div {
    padding: 12px 0;
    text-decoration: none;
    display: block;
}

.dropdown-content div>a {
    color: black;
}

.dropdown-content>div:nth-child(2):hover {
    background-color: #1779ba;
}

.dropdown-content>div:nth-child(2):hover>a>p,
.dropdown-content>div:nth-child(2):hover>a>p:nth-child(2) {
    color: white;
}

.dropdown-content div:nth-child(4)>a>p:hover,
.dropdown-content div:nth-child(6)>a>p:hover {
    background-color: #1779ba;
    color: white;
}

.dropdown-content>div:nth-child(2)>a>p:first-child {
    font-size: 15px;
    margin: 0;
}

.dropdown-content>div:nth-child(2)>a>p:nth-child(2) {
    font-size: 12px;
    margin: 0;
    color: grey;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.show {
    display: block;
    margin-left: -117px;
    margin-top: 57px;
}

.caret {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 10px;
    border-left-width: 10px;
    border-bottom: 10px solid #f9f9f9;
    margin-top: -34px;
    margin-left: 126px;
}

.view-profile-wrapper {
    padding-bottom: 0 !important;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 56px;
    padding-top: 6px !important;
}

.list-item-style {
    font-size: 13px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
}

.add-16px-margin-left {
    margin-left: 16px !important;
}

.arrow-box {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 1px;
    border-color: #1779ba;
    border-style: solid;
    transition: 0.7s ease;
    border-radius: 50px;
    margin-right: 10px;
    display: none;
}

.large-arrow {
    font-size: 28px !important;
    margin-left: 4px;
    margin-top: 2px;
}

.font-size-14px {
    font-size: 14px;
}

.margin-right-8px {
    margin-right: 8px;
}

.profile-section-caret {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 10px;
    border-left-width: 10px;
    border-bottom: 8.7px solid rgb(230, 230, 230);
    display: block;
    margin: 0 auto;
}

.profile-photos-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
}

.profile-photos-header {
    width: 100%;
    height: 66px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 13px;
}

.profile-photos-header-text {
    color: black;
    display: inline-block;
    font-size: 21px;
    margin: 0;
}

.fa.fa-camera-retro {
    font: normal normal normal 21px/1 FontAwesome !important;
    margin-right: 5px;
    margin-left: 15px;
}

.profile-photos-view {
    height: 100%;
    padding-bottom: 10px;
}

.loading-photos-gif {
    width: 36px;
    margin: 0 auto;
    display: none;
}

.photo {
    height: 195px;
    width: 195px;
    display: inline-block;
    margin: 8px -6px -8px 9px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #D3D3D3;
}

@media (max-width: 1100px) {
    .navbar-links>li>a>span.text {
        display: none;
    }
}

@media (max-width: 650px) {
    .input-search-field {
        display: none;
    }
}

@media (max-width: 465px) {
    .navbar-logo {
        left: 65%;
        transition: all 0.1s ease-in-out;
    }
}

@media (max-width: 336px) {
    .navbar-logo {
        left: 80%;
        transition: all 0.1s ease-in-out;
    }
}