* {
    font-family: 'Nunito Sans', sans-serif !important;
    /*font-weight: 700;*/
}

html {
    background-color: rgba(230, 230, 230, 0.6);
}

.navbar-logo {
    font-size: 40px;
    color: white;
    font-family: 'Marck Script', cursive !important;
    margin-bottom: 0px;
    width: 24px;
    position: absolute;
    left: 50%
}

.site-header {
    height: 57px;
    background-color: #1779ba;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

.navbar-links {
    height: 100%;
    list-style: none;
    float: left;
    margin: 0;
}

.navbar-links>li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 17px;
    height: 40px;
}

.navbar-links>li>a {
    color: white;
}

.navbar-links>li>a>span>.fa {
    margin-right: 10px;
}

.navbar-links>li:nth-child(4)>a>span>.fa {
    transform: rotate(20deg);
}

.navbar-links:first-child {
    margin-left: 0px;
}

.navbar-links>li:hover {
    border-bottom: solid white 3px;
}

.site-content {
    padding-top: 70px;
    padding-left: 40px;
    background-color: rgba(230, 230, 230, 0.6);
}

.dashboard-container {
    width: 1225px;
    margin: 0 auto;
    overflow: auto;
}

.dashboard-left {
    float: left;
    height: 100%;
    width: 290px;
}


/* DASHBOARD CARD CLASSES */

.dashboard-right {
    float: left;
    height: 100%;
    width: 290px;
}

.dashboard-center {
    float: left;
    width: 645px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.dashboard-profile-card {
    width: 100%;
    background: white;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.dashboard-card {
    width: 100%;
    background: white;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.dashboard-message-input-card {
    width: 100%;
    background: white;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.dashboard-news-feed-post-card {
    width: 100%;
    background: white;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.dashboard-card-content-wrapper {
    height: 100%;
    padding: 16px;
}

.profile-card-image-wrapper {
    height: 150px;
    padding: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.profile-card-content-wrapper {
    height: 100%;
    padding: 16px;
}

.profile-picture {
    height: 100px;
    width: 100px;
    margin-top: -68px;
    margin-left: 76px;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border: 3px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.users-full-name {
    margin-top: 8px;
    font-size: 15px;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.users-quote {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin-bottom: -6px;
}

.friends-and-groups-listing {
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0;
}

.friends-listing {
    display: inline-block;
    border-right: 1px solid #d4dbe0;
    padding: 0 10px;
}

.friend-count {
    text-align: center;
}

.groups-listing {
    display: inline-block;
    padding: 0 8px;
}

.group-count {
    text-align: center;
}

.input-grouping {
    padding: 10px;
}

.input-message-field {
    width: 551px;
    margin: 0 !important;
    display: inline-block;
    border-radius: 3px;
}

.input-message-field:focus {
    border-color: #1779ba;
}

.camera-button {
    transition: all 0.2s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 47px;
    height: 39px;
}

.camera-button:hover {
    background-color: #e6e6e6;
    transition: all 0.2s ease-in-out;
}

.fa {
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.input-search-field {
    height: 33px;
    width: 150px;
    float: right;
    margin-top: 12px !important;
    margin-right: 19px !important;
    display: inline-block;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

.input-search-field:focus {
    transition: all 0.4s ease-in-out;
    border-color: #1779ba;
    width: 200px;
}

.settings-dropdown {
    float: right;
    border: solid white 2px;
    border-radius: 35px;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-top: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.dropdown-content>hr {
    margin: 0;
}

.dropdown-content div {
    padding: 12px 0px;
    text-decoration: none;
    display: block;
}

.dropdown-content div>a {
    color: black;
}

.dropdown-content>div:nth-child(2):hover {
    background-color: #1779ba;
}

.dropdown-content>div:nth-child(2):hover>a>p,
.dropdown-content>div:nth-child(2):hover>a>p:nth-child(2) {
    color: white;
}

.dropdown-content div:nth-child(4)>a>p:hover,
.dropdown-content div:nth-child(6)>a>p:hover {
    background-color: #1779ba;
    color: white;
}

.dropdown-content>div:nth-child(2)>a>p:first-child {
    font-size: 15px;
    margin: 0;
}

.dropdown-content>div:nth-child(2)>a>p:nth-child(2) {
    font-size: 12px;
    margin: 0;
    color: grey;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.show {
    display: block;
    margin-left: -117px;
    margin-top: 57px;
}

.caret {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 10px;
    border-left-width: 10px;
    border-bottom: 10px solid #f9f9f9;
    margin-top: -34px;
    margin-left: 126px;
}

.view-profile-wrapper {
    padding-bottom: 0px !important;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 56px;
    padding-top: 6px !important;
}

.list-item-style {
    font-size: 13px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 16px;
}

.user-picture {
    float: left;
    border: solid white 2px;
    border-radius: 35px;
    height: 50px;
    width: 50px;
    background-image: url(../images/random-guy.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.user-name {
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    font-size: 14px;
}

.time-elapsed {
    margin-top: 15px;
    float: right;
    font-size: 14px;
}

.user-post {
    font-size: 14px;
    margin-top: 7px;
}

.interaction-button {
    font-size: 12px;
    color: black;
    margin-right: 16px;
}

.image-post {
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.trend {
    color: red;
    margin-right: 10px;
    float: left;
    margin-top: 4px;
    height: 34px;
}

a.see-more-trends {
    font-size: 11px;
}

a.see-more-trends:hover {
    text-decoration: underline;
}

.trending-topic:hover {
    text-decoration: underline !important;
}

.see-all-groups {
    font-size: 11px;
}

.see-all-groups:hover {
    text-decoration: underline;
}

.add-16px-margin-left {
    margin-left: 16px !important;
}

.dashboard-card-header {
    display: inline-block;
}

.edit-about {
    font-size: 11px;
}

.edit-about:hover {
    text-decoration: underline;
}

.show-all-link {
    font-size: 11px;
}

.show-all-link:hover {
    text-decoration: underline;
}

.refresh-link {
    font-size: 11px;
}

.refresh-link:hover {
    text-decoration: underline;
}

.arrow-box {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 1px;
    border-color: #1779ba;
    border-style: solid;
    transition: 0.7s ease;
    border-radius: 50px;
    margin-right: 10px;
    display: none;
}

.large-arrow {
    font-size: 28px !important;
    margin-left: 4px;
    margin-top: 2px;
}

.add-friend-button {
    border: solid 1px #1779ba;
    border-radius: 4px;
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-right: 6px;
    color: white;
    font-size: 13px;
    background: #1779ba;
}

.add-friend-button:hover {
    background: #0E6096;
    color: white;
}

.add-friend-button>i {
    font-size: 14px !important;
    margin-right: 3px;
}

.on-people-you-may-know {
    display: none;
    float: right;
    margin-top: 5px;
    cursor: pointer;
    font-size: 12px !important;
}

.on-trending-topics {
    display: none;
    float: right;
    margin-top: 5px;
    cursor: pointer;
    font-size: 12px !important;
}

.input-comment-field {
    width: 531px;
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    display: inline-block;
    border-radius: 3px;
}

.comment-box {
    margin-top: 15px;
    display: none;
}

.mini-profile-view {
    border-radius: 4px;
    width: 290px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.0980392);
    background: white;
    margin-left: 0px;
    top: 218px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
    display: none;
}

.mini-profile-view-caret {
    margin-left: 14px;
    margin-top: -10px;
    border-bottom: 10px solid gray;
}

@media (max-width: 1100px) {
    .navbar-links>li>a>span.text {
        display: none;
    }
}

@media (max-width: 650px) {
    .input-search-field {
        display: none;
    }
}

@media (max-width: 465px) {
    .navbar-logo {
        left: 65%;
        transition: all 0.1s ease-in-out;
    }
}

@media (max-width: 336px) {
    .navbar-logo {
        left: 80%;
        transition: all 0.1s ease-in-out;
    }
}